NEXT_PUBLIC_SUPABASE_URL=https://sdipclikyujdrjthpnct.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/api/integrations/gmail/callback
GMAIL_TOKEN_ENCRYPTION_KEY=
